.dashboard-container {
  display: flex;
  min-height: 100vh;
  background: #f0f4ff;
  font-family: Arial, sans-serif;
  margin-top: 100px;
}

.sidebar {
  width: 200px;
  background-color: rgb(48, 107, 155);
  color: white;
  margin-top: 90px;
  padding: 25px;

}

.sidebar h2 {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 15px 0;
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}

.sidebar li:hover,
.sidebar .active {
  background-color: #2563eb;
}

.main-content {
  flex: 1;
  padding: 30px;
}
.main-content h1 {
  margin-top: 30px;
  padding-top: 25px;
  margin-left: 25px;
  font-size: 25px;
  color:rgb(48, 107, 155)
}
.profile-card {
  display: flex;
  align-items: center;
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px #00000015;
  width: 80%;
  margin-bottom: 30px;
}

.profile-card img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
}

.notice-board {
  background: rgb(48, 107, 155);
  padding: 15px;
  width:80%;
  border-radius: 10px;
  box-shadow: 0 0 10px #00000015;
}
.notice-board h2 {
  color:white;
}
.notice-board li{
  color:white;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}


/* Timetable Box */
.timetable-container {
  margin-top: 5px;
  padding-top: 5px;
  padding-left: 10px;
  width:400px;
  height: 50vh;
  background: #ffffff;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  margin-right:40px;   /* Push to right side */
}

.timetable-container h2 {
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: bold;
  color: #1a1a1a;
}

.timetable-image {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.dashboard-main-wrapper { display: flex; flex: 1; gap: 20px; padding: 20px; }
.left-content { flex: 2; display: flex; flex-direction: column; gap: 20px; }
.right-content { flex: 1; display: flex; flex-direction: column; gap: 20px; }
.timetable-image { width: 100%; height: auto; border-radius: 10px; box-shadow: 0 2px 5px rgba(0,0,0,0.2); }
